<!DOCTYPE html>
<html xmlns:th ="http://wwww.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Home page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="webjars/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<script src="webjars/jquery/3.6.0/dist/jquery.min.js"></script>
</head>
<body>
<div class="container">
	<div class="pb-2 mt-4 mb-2">
		<h2>Pagina di test per Openshift <small>Upload del progetto</small></h2>
	</div>
</div>
</body>
</html>